django
django-guardian
django-phonenumber-field
phonenumbers
django-autocomplete-light
django-bootstrap-modal-forms
psycopg2-binary
django-bootstrap-pagination
uwsgitop
redis
celery
xlsxwriter
uwsgi
django-redis
django-sendfile
