{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% translate "You are already logged in." %} <a href="{% url 'logout' %}">{% translate "Logout" %}</a>
        {% translate "to continue." %}
    {% else %}
        <div class="d-flex justify-content-center align-items-center">
            <div class="card" style="width: 25rem">
                <h2 class="card-header">Login</h2>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <p class="help-block" style="color: red">{{ error }}</p>
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% for error in field.errors %}
                                <div class="help-block" style="color: red">{{ error }}</div>
                            {% endfor %}
                            <p class="d-flex justify-content-between fieldWrapper">{{ field.label_tag }}{{ field }}</p>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary float-right">{% translate "Login" %}</button>
                    </form>
                </div>
            </div>
        </div>
        {% load compress %}
        {% compress css file %}
            {{ form.media.css }}
        {% endcompress %}
        {% compress js file %}
            {{ form.media.js }}
        {% endcompress %}
    {% endif %}

{% endblock %}