{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>



    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>
                {% translate "Reminders" %}
            </h3>
            {% if request.user.write_access %}
                <button type="button" id="addReminderButton"
                        class="btn btn-primary">{% translate "New reminder" %}</button>
            {% endif %}
        </div>
        {% if page_obj %}
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{% translate "Datetime" %}</th>
                        <th scope="col">{% translate "Set by" %}</th>
                        <th scope="col">{% translate "Title" %}</th>
                        <th scope="col">{% translate "Note" %}</th>
                        {% if request.user.write_access %}
                            <th scope="col">{% translate "Delete" %}</th>
                            <th scope="col">{% translate "Mark done" %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    {% for reminder in page_obj %}
                        <tr class="{% if reminder.urgency == 3 %}
                        table-danger
                        {% elif reminder.urgency == 2 %}
                        table-warning
                        {% elif reminder.urgency == 1 %}
                        table-primary
                    {% endif %}">
                            <td class="align-middle">
                                {{ reminder.datetime }}
                            </td>
                            <td class="align-middle">
                                <a href='{% url "worker_details" reminder.set_by_id %}'>
                                    {{ reminder.set_by }}
                                </a>
                            </td>
                            <td class="align-middle">{{ reminder.title }}</td>
                            <td class="align-middle">{{ reminder.notes|linebreaks }}</td>
                            {% if request.user.write_access %}
                                <td class="align-middle">
                                    <a href="#" type="button" class="delete-button btn btn-link text-danger"
                                       rno="{{ reminder.id }}">{% translate "delete" %}</a>
                                </td>
                                <td class="align-middle">
                                    <a href="#" type="button" class="mark-done btn btn-link"
                                       rno="{{ reminder.id }}">{% translate "done" %}</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% if paginator.num_pages > 1 %}
                    {% load bootstrap_pagination %}
                    {% bootstrap_paginate page_obj range=3 url_view_name="reminders_dashboard" %}
                {% endif %}
            </div>
        {% endif %}
    </div>



    {% load static %}
    {% load compress %}
    {% compress js file %}
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

        <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            function markResolved() {
                $.ajax({
                    url: "{% url 'reminders_mark_done' 101010 %}".replace("101010", $(this).attr("rno")),
                    success: function () {
                        location.reload();
                    }
                });
            }

            function deleteReminder() {
                $.ajax({
                    url: "{% url 'reminders_delete' 101010 %}".replace("101010", $(this).attr("rno")),
                    success: function () {
                        location.reload();
                    }
                });
            }

            $(function () {
                function addReminderModal() {
                    $("#addReminderButton").modalForm({
                        formURL: "{% url 'reminder_new_modal' %}"
                    });
                }

                addReminderModal();

                $("a.mark-done").on('click', markResolved);
                $("a.delete-button").on('click', deleteReminder);
            });
        </script>
    {% endcompress %}
{% endblock %}