{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center justify-content-between col-3">
                <h2>{{ worker }}</h2>
            </div>
        </div>
        <div class="card-body">
            <p>{% translate "Phone number" %}: {% if worker.phone_number %}{{ worker.phone_number }}{% endif %}</p>
            <p>{% translate "Email" %}: {% if worker.email %}
                <a href="mailto:{{ worker.email }}">{{ worker.email }}</a>{% endif %}</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header"><h3>{% translate "Latest actions" %}</h3></div>
        <div class="card-body">
            {% if actions %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{% translate "Datetime" %}</th>
                        <th>{% translate "Based on" %}</th>
                        <th>{% translate "Incoming contact content" %}</th>
                        <th>{% translate "Description" %}</th>
                        <th>{% translate "Notes" %}</th>
                        <th>{% translate "Case" %}</th>
                    </tr>
                    </thead>

                    {% for action in actions %}
                        <tr>
                            <td>
                                <button type="button" class="btn btn-link action-detail"
                                        ano="{{ action.id }}">{{ action.datetime }}</button>
                            </td>
                            <td>{{ action.get_based_on_display }}</td>
                            <td>{% if action.contact_content %}
                                <button type="button" class="action-contact_content btn btn-link" ano="{{ action.id }}">
                                    {% translate "open" %}
                                </button>
                            {% else %}
                                —
                            {% endif %}</td>
                            <td>{{ action.action_description }}</td>
                            <td>{% if action.notes %}
                                <button type="button" class="action-notes btn btn-link"
                                        ano="{{ action.id }}">{% translate "open" %}</button>
                            {% else %}
                                —
                            {% endif %}</td>
                            <td>
                                {% if action.case %}
                                    <a href="{% url 'case_details' action.case.id %}">{{ action.case.title }}</a>
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% translate "No cases involving this worker found." %}
            {% endif %}
        </div>
    </div>

    {% load static %}
    {% load compress %}
    {% compress js file %}
        <script nonce="{{request.csp_nonce}}" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <script nonce="{{request.csp_nonce}}" type="text/javascript">
            $(function () {
                function addActionModal() {
                    $(".action-contact_content").each(function () {
                        $(this).modalForm({
                            formURL: "{% url 'action_contact_content' 101010 %}".replace("101010", $(this).attr("ano")),
                        });
                    });
                    $(".action-notes").each(function () {
                        $(this).modalForm({
                            formURL: "{% url 'action_notes' 101010 %}".replace("101010", $(this).attr("ano")),
                        });
                    });
                    $(".action-detail").each(function () {
                        $(this).modalForm({
                            formURL: "{% url 'action_details' 101010 %}".replace("101010", $(this).attr("ano")),
                        });
                    });
                }

                addActionModal();
            });
        </script>
    {% endcompress %}
{% endblock %}