{% extends 'covid/dashboard/frame.html' %}
{% load i18n %}
{% block table %}
    <div class="card-header d-flex justify-content-between">
        <h3>
            <a id="actionsHistoryLink" href="#">{% translate "Actions</a> history" %}
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{% translate "Date" %}</th>
                <th scope="col">{% translate "Made by" %}</th>
                <th scope="col">{% translate "Based on" %}</th>
                <th scope="col">{% translate "Description" %}</th>
            </tr>
            </thead>
            {% for action in page_obj %}
                <tr>
                    <td>
                        {{ action.datetime }}
                    </td>
                    <td>
                        <a class="workerLink" wid="{{ action.made_by_id }}" href="#">
                            {{ action.made_by }}
                        </a>
                    </td>
                    <td>{{ action.get_based_on_display }}</td>
                    <td>{{ action.action_description }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if paginator.num_pages > 1 %}
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 url_view_name="actions_dashboard" %}
        {% endif %}
    </div>

    {% load compress %}
    {% compress js file %}
        <script type="text/javascript">
            $(function () {
                $("#actionsHistoryLink").on('click', function () {
                    top.location.href = '{% url 'actions' %}';
                });
                $(".workerLink").on('click', function () {
                    top.location.href = '{% url "worker_details" 101010 %}'.replace("101010", $(this).attr("wid"));
                });
            });
        </script>
    {% endcompress %}
{% endblock %}