{% extends 'covid/dashboard/frame.html' %}
{% load i18n %}
{% block table %}
    <div class="card-header">
        <h3>{% translate "Active" %}
            <a id="activeCasesLink" href="#">{% translate "cases" %}</a>
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{% translate "Title" %}</th>
                <th scope="col">{% translate "People involved" %}</th>
                <th scope="col">{% translate "Date open" %}</th>
                <th scope="col">{% translate "Date closed" %}</th>
            </tr>
            </thead>
            {% for case in page_obj %}
                <tr>
                    <td class="align-middle"><a class="caseDetailsLink" href="#" cid="{{ case.id }}">{{ case }}</a></td>
                    <td class="align-middle">{% for person in case.people.all %}
                        <a class="personDetailsLink" href="#" pid="{{ person.id }}">
                            {{ person }}
                        </a><br>
                    {% endfor %}</td>
                    <td class="align-middle">{{ case.date_open }}</td>
                    <td class="align-middle">{% if case.date_closed %}{{ case.date_closed }}{% else %}—{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
        {% if paginator.num_pages > 1 %}
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 url_view_name="cases_dashboard" %}
        {% endif %}
    </div>

    {% load compress %}
    {% compress js file %}
        <script nonce="{{request.csp_nonce}}" type="text/javascript">
            $(function () {
                $("#activeCasesLink").on('click', function () {
                    top.location.href = '{% url 'cases' %}';
                });
                $(".caseDetailsLink").on('click', function () {
                    top.location.href = '{% url "case_details" 101010 %}'.replace("101010", $(this).attr("cid"));
                });
                $(".personDetailsLink").on('click', function () {
                    top.location.href = '{% url "person_details" 101010 %}'.replace("101010", $(this).attr("pid"));
                });
            });
        </script>
    {% endcompress %}
{% endblock %}