{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl w-100">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item" onload="resizeIframe(this);"
                            src="{% url 'reminders_dashboard' 1 %}"></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item" onload="resizeIframe(this);"
                            src="{% url 'actions_dashboard' 1 %}"></iframe>
                </div>
            </div>
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item" onload="resizeIframe(this);"
                            src="{% url 'cases_dashboard' 1 %}"></iframe>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item" onload="resizeIframe(this);"
                            src="{% url 'isolations_dashboard' 1 %}"></iframe>
                </div>
            </div>
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item" onload="resizeIframe(this);"
                            src="{% url 'isolationrooms_dashboard' 1 %}"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function resizeIframe(iframe) {
            $(iframe).parent().height(iframe.contentWindow.document.body.scrollHeight + 25);
        }
    </script>
{% endblock %}