{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl w-100">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item"
                            src="{% url 'reminders_dashboard' %}"></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item"
                            src="{% url 'actions_dashboard' 1 %}"></iframe>
                </div>
            </div>
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item"
                            src="{% url 'cases_dashboard' 1 %}"></iframe>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item"
                            src="{% url 'isolations_dashboard' 1 %}"></iframe>
                </div>
            </div>
            <div class="col-xl">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item"
                            src="{% url 'isolationrooms_dashboard' 1 %}"></iframe>
                </div>
            </div>
        </div>
    </div>

    {% load compress %}
    {% compress js file %}
        <script nonce="{{request.csp_nonce}}" type="text/javascript">
            function resizeIframe() {
                let maxH = 0;
                let row = $(this).closest(".row");
                let iframes = row.find("iframe");
                iframes.each(function () {
                    let scrollH = this.contentWindow.document.body.scrollHeight;
                    if (scrollH > maxH)
                        maxH = scrollH;
                });
                row.find(".embed-responsive").height(maxH + 25);
                iframes.each(function () {
                    this.contentWindow.setHeight(maxH);
                });
            }

            $(function () {
                $("iframe").on('load', resizeIframe);
            });
        </script>
    {% endcompress %}


{% endblock %}