<!DOCTYPE html>
<html lang="en" class="border">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Actions{% endblock %}</title>

    {% load static %}
    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endcompress %}

    {% compress js file %}
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endcompress %}
</head>
<body>
{% block table %}
{% endblock %}
<script type="text/javascript">
    setTimeout(function () {
        window.location.reload(1);
    }, 60000);
    window.setHeight = function (height) {
        $("body").height(height);
    };
</script>
</body>
</html>