{% extends 'covid/dashboard/frame.html' %}
{% load i18n %}
{% block table %}
    <div class="card-header"><h3>{% translate "Occupied" %}
        <a id="isolationRoomsLink" href="#">
            {% translate "isolation rooms" %}
        </a></h3></div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{% translate "Number" %}</th>
                <th scope="col">{% translate "Resident" %}</th>
            </tr>
            </thead>
            {% for isolation_room in page_obj %}
                <tr class="table-danger">
                    <td>{{ isolation_room.number }}</td>
                    <td>
                        <a class="residentLink" href="#" pid='{{ isolation_room.resident_id }}'>
                            {{ isolation_room.resident }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if paginator.num_pages > 1 %}
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 url_view_name="isolationrooms_dashboard" %}
        {% endif %}
    </div>
    {% load compress %}
    {% compress js file %}
        <script nonce="{{request.csp_nonce}}"type="text/javascript">
            $(function () {
                $("#isolationRoomsLink").on('click', function () {
                    top.location.href = '{% url 'isolation_rooms' %}';
                });
                $(".residentLink").on('click', function () {
                    top.location.href = '{% url "person_details" 101010 %}'.replace("101010", $(this).attr("pid"));
                });
            });
        </script>
    {% endcompress %}
{% endblock %}