{% extends 'covid/dashboard/frame.html' %}

{% block table %}
    <div class="card-header"><h3>
        {#<a href=#" onclick="top.location.href = '{% url 'isolations_dashboard' 1 %}';">Isolations</a>#}
        Isolations
    </h3></div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Ordered by</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Order date</th>
                <th scope="col">Whereabouts</th>
                <th scope="col">Health state</th>
            </tr>
            </thead>
            {% for isolation in page_obj %}
                <tr class="
                        {% if isolation.active %}
                            {% if isolation.person.health_state.considered_sick %}
                                table-danger
                            {% elif isolation.person.health_state.considered_suspect %}
                                table-warning
                            {% endif %}
                        {% else %}
                            table-active
                        {% endif %}">
                    <td>
                        <a href="#" onclick="top.location.href = '{% url 'person_details' isolation.person_id %}'">
                            {{ isolation.person }}
                        </a><br>
                    </td>
                    <td>{{ isolation.ordered_by }}</td>
                    <td>{{ isolation.start_date }}</td>
                    <td>{{ isolation.end_date }}</td>
                    <td>{{ isolation.ordered_on }}</td>
                    <td>{{ isolation.get_whereabouts_display }}</td>
                    <td>{{ isolation.person.health_state }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if paginator.num_pages > 1 %}
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 url_view_name="isolations_dashboard" %}
        {% endif %}
    </div>
{% endblock %}