{% extends 'covid/dashboard/frame.html' %}
{% load i18n %}
{% block table %}
    <div class="card-header"><h3>
        {% translate "Isolations" %}
    </h3></div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{% translate "Name" %}</th>
                <th scope="col">{% translate "Ordered by" %}</th>
                <th scope="col">{% translate "Order date" %}</th>
                <th scope="col">{% translate "Start date" %}</th>
                <th scope="col">{% translate "End date" %}</th>
                <th scope="col">{% translate "Whereabouts" %}</th>
                <th scope="col">{% translate "Health state" %}</th>
            </tr>
            </thead>
            {% for isolation in page_obj %}
                <tr class="
                        {% if isolation.active %}
                            {% if isolation.person.health_state.considered_sick %}
                                table-danger
                            {% elif isolation.person.health_state.considered_suspect %}
                                table-warning
                            {% endif %}
                        {% else %}
                            table-active
                        {% endif %}">
                    <td class="align-middle">
                        <a class="personDetailsLink" href="#" pid="{{ isolation.person_id }}">
                            {{ isolation.person }}
                        </a><br>
                    </td>
                    <td class="align-middle">{{ isolation.ordered_by }}</td>
                    <td class="align-middle">{{ isolation.start_date }}</td>
                    <td class="align-middle">{{ isolation.end_date }}</td>
                    <td class="align-middle">{{ isolation.ordered_on }}</td>
                    <td class="align-middle">
                        {{ isolation.get_whereabouts_display }}
                        {% if isolation.whereabouts == 'D' and isolation.person.isolationroom %}
                            {{ isolation.person.isolationroom }}
                        {% endif %}
                    </td>
                    <td class="align-middle">{{ isolation.person.health_state }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if paginator.num_pages > 1 %}
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 url_view_name="isolations_dashboard" %}
        {% endif %}
    </div>
    {% load compress %}
    {% compress js file %}
        <script nonce="{{request.csp_nonce}}" type="text/javascript">
            $(function () {
                $(".personDetailsLink").on('click', function () {
                    top.location.href = '{% url "person_details" 101010 %}'.replace("101010", $(this).attr("pid"));
                });
            });
        </script>
    {% endcompress %}
{% endblock %}