{% extends 'covid/dashboard/frame.html' %}

{% block table %}
    <div class="card-header"><h3>Occupied
        <a href="#" onclick="top.location.href = '{% url 'isolation_rooms' %}';">
            isolation rooms
        </a></h3></div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Resident</th>
            </tr>
            </thead>
            {% for isolation_room in page_obj %}
                <tr class="table-danger">
                    <td>{{ isolation_room.number }}</td>
                    <td>
                        <a href="#"
                           onclick="top.location.href = '{% url 'person_details' isolation_room.resident_id %}'">
                            {{ isolation_room.resident }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if paginator.num_pages > 1 %}
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 url_view_name="isolationrooms_dashboard" %}
        {% endif %}
    </div>
{% endblock %}