{% extends 'covid/dashboard/frame.html' %}
{% load i18n %}
{% block table %}
    <div class="card-header d-flex justify-content-between">
        <h3><a id="remindersLink" href="#">
            {% translate "Reminders" %}
        </a></h3>
    </div>
    {% if reminder_list %}
        <div class="card-body table-responsive">
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{% translate "Datetime" %}</th>
                    <th scope="col">{% translate "Set by" %}</th>
                    <th scope="col">{% translate "Title" %}</th>
                    <th scope="col">{% translate "Note" %}</th>
                    {% if request.user.write_access %}
                        <th scope="col">{% translate "Mark done" %}</th>
                    {% endif %}
                </tr>
                </thead>
                {% for reminder in reminder_list %}
                    <tr class="{% if reminder.urgency == 3 %}
                        table-danger
                        {% elif reminder.urgency == 2 %}
                        table-warning
                        {% elif reminder.urgency == 1 %}
                        table-primary
                    {% endif %}">
                        <td class="align-middle">
                            {{ reminder.datetime }}
                        </td>
                        <td class="align-middle">
                            <a class="personDetailsLink" href="#" pid="{{ reminder.set_by_id }}">
                                {{ reminder.set_by }}
                            </a>
                        </td>
                        <td class="align-middle">{{ reminder.title }}</td>
                        <td class="align-middle">{{ reminder.notes|linebreaks }}</td>
                        {% if request.user.write_access %}
                            <td class="align-middle">
                                <a class="markResolved" href="#" type="button"
                                   rno="{{ reminder.id }}">{% translate "done" %}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% load compress %}
    {% compress js file %}
        <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            function markResolved() {
                $.ajax({
                    url: "{% url 'reminders_mark_done' 101010 %}".replace("101010", $(this).attr("rno")),
                    success: function () {
                        location.reload();
                    }
                });
            }

            $(function () {
                $("#remindersLink").on('click', function () {
                    top.location.href = '{% url 'reminders' 1 %}';
                });
                $(".markResolved").on('click', markResolved);
                $(".personDetailsLink").on('click', function () {
                    top.location.href = '{% url "person_details" 101010 %}'.replace("101010", $(this).attr("pid"));
                });
            });
        </script>
    {% endcompress %}
{% endblock %}