{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}PUT COVID-19 Office System{% endblock %}</title>

    {% load static %}
    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endcompress %}

    {% compress js file %}
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/flatpickr.js' %}"></script>
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/flatpickr.fields.setup.js' %}"></script>
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/language_change.js' %}"></script>
        <!-- Menu Toggle Script -->
        <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) === ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) === 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return null;
            }

            $(function () {
                let sidebar = $("#sidebar-wrapper");
                if (getCookie('menu') === 'close') {
                    $("#wrapper").toggleClass("toggled");
                    $("#menu-toggle img").attr("src", "{% static 'img/arrow_right.png' %}")
                }

                if (getCookie("sessionid") === null) {
                    sidebar.css("visibility", "visible");
                }
                setTimeout(function () {
                    sidebar.toggleClass("transition");
                }, 800);

                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    let img = $("#menu-toggle img");
                    if (img.attr("src").includes("left")) {
                        img.attr("src", "{% static 'img/arrow_right.png' %}")
                        document.cookie = 'menu=close; path=/';
                    } else {
                        img.attr("src", "{% static 'img/arrow_left.png' %}")
                        document.cookie = 'menu=open; path=/';
                    }
                });
            })
        </script>
    {% endcompress %}

</head>

<body>
<div class="card-header d-flex justify-content-between align-items-center main-header">
    <div class="d-flex align-items-center justify-content-left">
        <img src="/favicon.ico" alt="PUT logo" width="55" height="55">
        <a href="{% url "home" %}" class="text-decoration-none text-white ml-3">
            <h1>PUT COVID-19 Office System</h1>
        </a>
    </div>
    <div class="d-flex btn-group align-self-center align-items-center col-sm-2">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'en' %}
            <a id="languageChangeButtonEN" class="btn btn-light" href="#">English</a>
        {% else %}
            <a id="languageChangeButtonPL" class="btn btn-light" href="#">Polski</a>
        {% endif %}

        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'logout' %}">{% translate "Logout" %}</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}">{% translate "Login" %}</a>
        {% endif %}
    </div>
</div>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div id="menu-toggle" class="sidebar-heading d-flex justify-content-between align-items-center">
            Menu
            <img src="{% static 'img/arrow_left.png' %}" alt="Arrow left" width="25px" height="25px"
                 class="nopad-right">
        </div>
        <div class="list-group list-group-flush">
            <a href="{% url 'covid_dashboard' %}"
               class="list-group-item list-group-item-action bg-light">{% translate "Dashboard" %}</a>
            <a href="{% url 'reminders' 1 %}"
               class="list-group-item list-group-item-action bg-light">{% translate "Reminders" %}</a>
            <a href="{% url 'actions' %}"
               class="list-group-item list-group-item-action bg-light">{% translate "Actions" %}</a>
            <a href="{% url 'cases' %}"
               class="list-group-item list-group-item-action bg-light">{% translate "Cases" %}</a>
            <a href="{% url 'isolation_rooms' %}"
               class="list-group-item list-group-item-action bg-light">{% translate "Isolation rooms" %}</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <main class="card-body">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <!-- /#page-content-wrapper -->

</div>


</body>
</html>