{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}PUT COVID-19 Office System{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'js/flatpickr.fields.setup.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="https://www.put.poznan.pl/icon.png">
</head>
<body>
<div class="card-header d-flex justify-content-between align-items-center main-header">
    <a href="{% url "home" %}" class="text-decoration-none align-self-center" style="color: white">
        <h1>PUT COVID-19 Office System</h1>
    </a>
    <div class="d-flex btn-group align-self-center align-items-center col-sm-2">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'en' %}
            <a class="btn btn-light" href="#" onclick="window.location.href = window.location.href.replaceAll('/en/', '/pl/')">English</a>
        {% else %}
            <a class="btn btn-light" href="#" onclick="window.location.href = window.location.href.replaceAll('/pl/', '/en/')">Polski</a>
        {% endif %}



        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'logout' %}">{% translate "Logout" %}</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}">{% translate "Login" %}</a>
        {% endif %}
    </div>
</div>
<main class="card-body">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>