{% extends 'base.html' %}

{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>


    <div class="card">
        <div class="card-header actions-add d-flex justify-content-between">
            <h3>Actions</h3>
            <button type="button" id="addActionButton" class="btn btn-primary">New unlinked action</button>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Datetime</th>
                    <th>Made by</th>
                    <th>Based on</th>
                    <th>Incoming contact content</th>
                    <th>Description</th>
                    <th>Notes</th>
                    <th>Case</th>
                </tr>
                </thead>

                {% for action in page_obj %}
                    <tr>
                        <td>{{ action.datetime }}</td>
                        <td>
                            <a href={% url "case_details" action.made_by.id %}>
                                {#TODO: switch that to link to WorkerDetail#}
                                {{ action.made_by }}
                            </a>
                        </td>
                        <td>{{ action.get_based_on_display }}</td>
                        <td>{% if action.contact_content %}
                            <button type="button" class="action-contact_content btn btn-link" ano="{{ action.id }}">
                                open
                            </button>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>{{ action.action_description }}</td>
                        <td>{% if action.notes %}
                            <button type="button" class="action-notes btn btn-link" ano="{{ action.id }}">open</>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>
                            {% if action.case %}
                                <a href="{% url 'case_details' action.case.id %}">{{ action.case.title }}</a>
                            {% else %}
                                —
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 %}
        </div>
    </div>



    {% load static %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            function addActionModal() {
                $(".action-contact_content").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_contact_content' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
                $(".action-notes").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_notes' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
                $("#addActionButton").modalForm({
                    formURL: "{% url 'action_new_modal' %}"
                });
            }

            addActionModal();
        });
    </script>
{% endblock %}