{% extends 'base.html' %}

{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>


    <div class="card">
        <div class="card-header actions-add d-flex justify-content-between">
            <h3>Actions</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">

                <tr>
                    <th>{{ form.datetime.label }} / {{ form.made_by.label }}
                        / {{ form.based_on.label }}</th>
                    <th>{{ form.contact_content.label }}</th>
                    <th>{{ form.action_description.label }}</th>
                    <th>{{ form.notes.label }}</th>
                    <th>delete</th>
                </tr>

                </thead>


                <tr class="formset_row {{ actions.prefix }}">

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <td class="d-flex flex-column justify-content-around">
                        <div class="d-flex flex-column justify-content-between">
                            <b>{{ form.datetime.label }}</b>
                            {% for error in form.datetime.errors %}
                                <p class="help-block" style="color: red">{{ error }}</p>
                            {% endfor %}
                            {{ form.datetime }}
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">
                            <b>{{ form.made_by.label }}</b>
                            {% for error in form.made_by.errors %}
                                <p class="help-block" style="color: red">{{ error }}</p>
                            {% endfor %}
                            {{ form.made_by }}
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">
                            <b>{{ form.based_on.label }}</b>
                            {% for error in form.based_on.errors %}
                                <p class="help-block" style="color: red">{{ error }}</p>
                            {% endfor %}
                            {{ form.based_on }}
                        </div>
                    </td>

                    <td>
                        {% for error in form.contact_content.errors %}
                            <p class="help-block" style="color: red">{{ error }}</p>
                        {% endfor %}
                        {{ form.contact_content }}
                    </td>
                    <td>
                        {% for error in form.action_description.errors %}
                            <p class="help-block" style="color: red">{{ error }}</p>
                        {% endfor %}
                        {{ form.action_description }}
                    </td>
                    <td>
                        {% for error in form.notes.errors %}
                            <p class="help-block" style="color: red">{{ error }}</p>
                        {% endfor %}
                        {{ form.notes }}
                    </td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>


    {% load static %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            function addActionModal() {
                $(".action-detail").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_details' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
            }

            addActionModal();
        });
    </script>
{% endblock %}