{% load i18n %}
<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">{% translate "Add new unlinked action" %}</h5>
        <button class="closeModalButton close" type="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-header">
        <small class="text-muted">{% translate "To add action linked to case, please go to case edit view." %}</small>
    </div>

    <div id="modal-body" class="modal-body">
        {% for field in form %}
            <div class="form-group{% if field.errors %} invalid{% endif %}">
                <div class="d-flex justify-content-between align-items-center fieldWrapper">
                    {{ field.label_tag }}
                    {% if forloop.counter == 4 %}
                        <div class="col-7">
                            {{ field }}
                            <button id="newPersonButton" class="btn btn-primary text-white" type="button" name="button">
                                {% translate "New" %}
                            </button>
                        </div>
                    {% else %}
                        <div class="col-7">{{ field }}</div>
                    {% endif %}
                </div>
                {% for error in field.errors %}
                    <p class="help-block text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="closeModalButton btn btn-default">{% translate "Close" %}</button>
        <button type="button" id="addActionSubmitButton"
                class="submit-btn btn btn-primary">{% translate "Create" %}</button>
    </div>

    {% load static %}
    {% load compress %}
    {% compress css file %}
        {{ form.media.css }}
    {% endcompress %}
    {% compress js file %}
        {{ form.media.js }}
        <script nonce="{{request.csp_nonce}}" src="{% static 'covid/js/jquery.bootstrap.modal.form.person.js' %}"></script>
        <script nonce="{{request.csp_nonce}}" src="{% static "js/flatpickr.fields.setup.auto.now.js" %}"></script>

        <script nonce="{{request.csp_nonce}}" type="text/javascript">
            if (typeof setup == 'undefined') {
                setup = function () {
                    let modal_body = $('#modal-body');
                    $('#id_made_by').select2({
                        dropdownParent: modal_body,
                        ajax: {
                            url: '{% url 'worker-autocomplete' %}',
                            dataType: 'json'
                        }
                    });
                    $('#id_contact_from').select2({
                        dropdownParent: modal_body,
                        allowClear: true,
                        ajax: {
                            url: '{% url 'person-autocomplete' %}',
                            dataType: 'json'
                        }
                    });
                    $('#id_unit').select2({
                        dropdownParent: modal_body,
                        allowClear: true,
                        ajax: {
                            url: '{% url 'unit-autocomplete' %}',
                            dataType: 'json'
                        }
                    });
                }
            }
            $(function () {
                function addPersonModal() {
                    $("#newPersonButton").modalForm({
                        modalID: "#modal-person",
                        modalContent: "#modal-person-content",
                        modalForm: "#modal-person-content form",
                        submitBtn: "#addPersonSubmitButton",
                        formURL: "{% url 'person_new_modal' %}",
                        asyncUpdate: true,
                        asyncSettings: {
                            closeOnSubmit: true,
                            addModalFormFunction: addPersonModal
                        }
                    });
                }

                addPersonModal();
            });
            setup();
            $(function () {
                $("button.closeModalButton").on('click', function () {
                    $('#modal').modal('hide');
                });
            });
        </script>
    {% endcompress %}
</form>