{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div id="modal-content" class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-person">
        <div class="modal-dialog modal-lg" role="document">
            <div id="modal-person-content" class="modal-content"></div>
        </div>
    </div>


    <div class="card">
        <div class="card-header actions-add d-flex justify-content-between align-items-center">
            <h2>{% translate "Actions" %}</h2>
            {% if request.user.write_access %}
                <button type="button" id="addActionButton"
                        class="btn btn-primary">{% translate "New unlinked action" %}</button>
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>{% translate "Datetime" %}</th>
                    <th>{% translate "Made by" %}</th>
                    <th>{% translate "Based on" %}</th>
                    <th>{% translate "Contact from" %}</th>
                    <th>{% translate "Incoming contact content" %}</th>
                    <th>{% translate "Description" %}</th>
                    <th>{% translate "Notes" %}</th>
                    <th>{% translate "Case" %}</th>
                </tr>
                </thead>

                {% for action in page_obj %}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-link action-detail"
                                    ano="{{ action.id }}">{{ action.datetime }}</button>
                        </td>
                        <td>
                            <a href={% url "worker_details" action.made_by_id %}>
                                {{ action.made_by }}
                            </a>
                        </td>
                        <td>{{ action.get_based_on_display }}</td>
                        <td>{% if action.contact_from %}
                            <a href="{% url 'person_details' action.contact_from_id %}">{{ action.contact_from }}</a>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>{% if action.contact_content %}
                            <button type="button" class="action-contact_content btn btn-link" ano="{{ action.id }}">
                                {% translate "open" %}
                            </button>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>{{ action.action_description }}</td>
                        <td>{% if action.notes %}
                            <button type="button" class="action-notes btn btn-link"
                                    ano="{{ action.id }}">{% translate "open" %}</button>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>
                            {% if action.case %}
                                <a href="{% url 'case_details' action.case.id %}">{{ action.case.title }}</a>
                            {% else %}
                                —
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 %}
        </div>
    </div>



    {% load static %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            function addActionModal() {
                $(".action-contact_content").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_contact_content' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
                $(".action-notes").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_notes' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
                $("#addActionButton").modalForm({
                    modalID: "#modal",
                    modalContent: "#modal-content",
                    modalForm: "#modal-content form",
                    submitBtn: "#addActionSubmitButton",
                    formURL: "{% url 'action_new_modal' %}"
                });
                $(".action-detail").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_details' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
            }

            addActionModal();
        });
    </script>
{% endblock %}