{% load i18n %}
<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">{% translate "Add new unlinked action" %}</h5>
        <button type="button" class="close" aria-label="Close" onclick="$('#modal').modal('hide')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-header">
        <small class="text-muted">{% translate "To add action linked to case, please go to case edit view." %}</small>
    </div>

    <div id="modal-body" class="modal-body">
        {% for field in form %}
            <div class="form-group{% if field.errors %} invalid{% endif %}">
                <div class="d-flex justify-content-between">
                    {{ field.label_tag }}
                    {% if forloop.counter == 4 %}
                        <div class="col-7">
                            {{ field }}
                            <button id="newPersonButton" class="btn btn-primary text-white" type="button" name="button">
                                New
                            </button>
                        </div>
                    {% else %}
                        <div class="col-7">{{ field }}</div>
                    {% endif %}
                </div>
                {% for error in field.errors %}
                    <p class="help-block" style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {{ form.media }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="$('#modal').modal('hide')">{% translate "Close" %}</button>
        <button type="button" id="addActionSubmitButton" class="submit-btn btn btn-primary">{% translate "Create" %}</button>
    </div>

    {% load static %}
    <script src="{% static 'covid/js/jquery.bootstrap.modal.form.person.js' %}"></script>
    <script type="text/javascript">
        flatpickr(".datetimefield", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "d.m.Y H:i:S",
            time_24hr: true,
            defaultDate: new Date()
        });
        flatpickr(".datefield", {
            enableTime: false,
            enableSeconds: false,
            dateFormat: "d.m.Y",
            time_24hr: true,
            defaultDate: new Date()

        });
        $('#id_made_by').select2({
            dropdownParent: $('#modal-body'),
            ajax: {
                url: '{% url 'worker-autocomplete' %}',
                dataType: 'json'
            }
        });
        $('#id_contact_from').select2({
            dropdownParent: $('#modal-body'),
            allowClear: true,
            ajax: {
                url: '{% url 'person-autocomplete' %}',
                dataType: 'json'
            }
        });
        $(function () {
            function addPersonModal() {
                $("#newPersonButton").modalForm({
                    modalID: "#modal-person",
                    modalContent: "#modal-person-content",
                    modalForm: "#modal-person-content form",
                    submitBtn: "#addPersonSubmitButton",
                    formURL: "{% url 'person_new_modal' %}",
                    asyncUpdate: true,
                    asyncSettings: {
                        closeOnSubmit: true,
                        addModalFormFunction: addPersonModal
                    }
                });
            }

            addPersonModal();
        });
    </script>

</form>