{% extends 'base.html' %}

{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Cases</h2>
            <div class="d-flex align-items-center">
                <div class="col-xl-4 col-6 mr-auto">
                    <form id="searchForm" method="get" class="flex-fill">
                        <div class="form-group">
                            <label class="col-form-label col-2" for="searchBar">
                                Search:
                            </label>
                            <input id="searchBar" type="text" name="search" class="col-6" value="{{ search }}"/>
                            <button type="submit" class="btn btn-primary col-xl-2 col-3">Search</button>
                        </div>
                    </form>
                </div>
                <div class="btn-group col-xl-2 col-4 pull-right">
                    <a class="col-4 btn {% if open == None %}btn-success disabled{% else %}btn-primary{% endif %}"
                       href="{{ request.path }}?open=None&search={{ search }}">All</a>
                    <a class="col-4 btn {% if open == True %}btn-success disabled{% else %}btn-primary{% endif %}"
                       href="{{ request.path }}?open=true&search={{ search }}">Open</a>
                    <a class="col-4 btn {% if open == False %}btn-success disabled{% else %}btn-primary{% endif %}"
                       href="{{ request.path }}?open=false&search={{ search }}">Closed</a>
                </div>
                <div class="col-xl-1 col-2 btn-group pull-right">
                    <button id="newCaseButton" class="btn btn-danger" type="button" name="button">Open new</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">People involved</th>
                    <th scope="col">Date open</th>
                    <th scope="col">Date closed</th>
                </tr>
                </thead>
                {% for case in page_obj %}
                    <tr>
                        <td><a href={% url "case_details" case.id %}>{{ case }}</a></td>
                        <td>{% for person in case.people.all %}
                            <a href={% url "person_details" person.id %}>
                                {{ person }}
                            </a><br>
                        {% endfor %}</td>
                        <td>{{ case.date_open }}</td>
                        <td>{% if case.date_closed %}{{ case.date_closed }}{% else %}—{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
            {% load bootstrap_pagination %}
            {% bootstrap_paginate page_obj range=10 %}
        </div>
    </div>


    {% load static %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#newCaseButton").modalForm({
                formURL: "{% url 'case_new_modal' %}"
            });
        });
    </script>
{% endblock %}