{% extends 'base.html' %}

{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <h2 class="card-title">Cases</h2>
    <div class="d-flex align-items-center">
        <div class="col-xl-4 col-6 mr-auto">
            <form id="searchForm" method="get" class="flex-fill">
                <div class="form-group">
                    <label class="col-form-label col-2" for="searchBar">
                        Search:
                    </label>
                    <input id="searchBar" type="text" name="search" class="col-6" value="{{ search }}"/>
                    <button type="submit" class="btn btn-primary col-xl-2 col-3">Search</button>
                </div>
            </form>
        </div>
        <div class="btn-group col-xl-2 col-4 pull-right">
            <a class="col-4 btn {% if open == None %}btn-success disabled{% else %}btn-primary{% endif %}"
               href="{{ request.path }}?open=None&search={{ search }}">All</a>
            <a class="col-4 btn {% if open == True %}btn-success disabled{% else %}btn-primary{% endif %}"
               href="{{ request.path }}?open=true&search={{ search }}">Open</a>
            <a class="col-4 btn {% if open == False %}btn-success disabled{% else %}btn-primary{% endif %}"
               href="{{ request.path }}?open=false&search={{ search }}">Closed</a>
        </div>
        <div class="col-xl-1 col-2 btn-group pull-right">
            <button id="newCaseButton" class="btn btn-danger" type="button" name="button">Open new</button>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">People involved</th>
            <th scope="col">Date open</th>
            <th scope="col">Date closed</th>
        </tr>
        </thead>
        {% for case in page_obj %}
            <tr>
                {#                <td><a href={% url 'case_details' case.id %}>{{ case }}</a></td>#}
                <td><a href={% url "case_details" case.id %}>{{ case }}</a></td>
                <td>{% for person in case.people.all %}
                    {{ person }}<br> {# TODO: add link to person detail view #}
                {% endfor %}</td>
                <td>{{ case.date_open }}</td>
                <td>{{ case.date_closed }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?search={{ search }}&page=1">&laquo; first</a>
            <a href="?search={{ search }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?search={{ search }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?search={{ search }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>


    {% load static %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#newCaseButton").modalForm({
                formURL: "{% url 'case_new_modal' %}"
            });
        });
    </script>
{% endblock %}