{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="modal fade" role="dialog" id="modal-person">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="modal-unit">
        <div class="modal-dialog modal-lg" role="document">
            <div id="modal-unit-content" class="modal-content"></div>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="card">
            {{ form.non_field_errors }}
            <div class="card-header d-flex justify-content-between align-items-center">
                {% if is_open %}
                    <h2>{% translate "Title" %}: {{ form.title }} </h2>
                    {{ form.title.errors }}

                    <div class="btn-group align-self-end col-sm-2">
                        <a class="btn btn-danger" href="{% url 'case_close' case.id %}">{% translate "Close case" %}</a>
                    </div>

                    <div class="btn-group align-self-center col-sm-2">
                        <a type="submit" class="btn btn-danger"
                           href="{% url 'case_details' case.id %}">{% translate "Cancel" %}</a>
                        <button id="saveButton" type="submit" class="btn btn-success">{% translate "Save" %}</button>
                    </div>
                {% else %}
                    <h2>{% translate "Title" %}: {{ case.title }} </h2>
                    <div class="btn-group align-self-end col-sm-2">
                        <a class="btn btn-info" href="{% url 'case_reopen' case.id %}">{% translate "Reopen case" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="card">
            <h3 class="card-header">{% translate "People involved" %}</h3>
            <div class="card-body d-flex justify-content-between align-items-center">
                {{ form.people }}
                <button id="newPersonButton" class="btn btn-primary text-white" type="button"
                        name="button">{% translate "New" %}
                </button>
                {{ form.people.errors }}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header isolations-add d-flex justify-content-between align-items-center">
                <h3>{% translate "Isolations" %}</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    {% for form in isolations.forms %}
                        {% if forloop.first %}
                            <thead class="thead-dark">
                            {{ form.non_field_errors }}
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row {{ isolations.prefix }}">
                            {% for field in form.visible_fields %}
                                <td class="fieldWrapper">
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p class="help-block text-danger">{{ error }}</p>
                                    {% endfor %}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                {{ isolations.management_form }}
            </div>
        </div>

        <br>
        <div class="card">
            <div class="card-header actions-add d-flex justify-content-between align-items-center">
                <h3>{% translate "Actions" %}</h3>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    {% for form in actions %}
                        {% if forloop.first %}
                            <thead class="thead-dark">
                            <tr>
                                <th>{{ form.datetime.label }} / {{ form.made_by.label }}
                                    / {{ form.based_on.label }} / {{ form.contact_from.label }}</th>
                                <th>{{ form.contact_content.label }}</th>
                                <th>{{ form.action_description.label }}</th>
                                <th>{{ form.notes.label }}</th>
                                <th>{% translate "Remove" %}</th>
                            </tr>
                            </thead>
                        {% endif %}

                        <tr class="formset_row {{ actions.prefix }}">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <td class="d-flex flex-column justify-content-around">
                                <div class="d-flex justify-content-between align-items-center">
                                    <b class="col-4">{{ form.datetime.label }}</b>
                                    {% for error in form.datetime.errors %}
                                        <p class="help-block text-danger">{{ error }}</p>
                                    {% endfor %}
                                    {{ form.datetime }}
                                </div>
                                <br>
                                <div class="d-flex justify-content-between align-items-center">
                                    <b class="col-4">{{ form.made_by.label }}</b>
                                    {% for error in form.made_by.errors %}
                                        <p class="help-block text-danger">{{ error }}</p>
                                    {% endfor %}
                                    {{ form.made_by }}
                                </div>
                                <br>
                                <div class="d-flex justify-content-between align-items-center">
                                    <b class="col-4">{{ form.based_on.label }}</b>
                                    {% for error in form.based_on.errors %}
                                        <p class="help-block text-danger">{{ error }}</p>
                                    {% endfor %}
                                    {{ form.based_on }}
                                </div>
                                <br>
                                <div class="d-flex justify-content-between align-items-center">
                                    <b class="col-4">{{ form.contact_from.label }}</b>
                                    {% for error in form.contact_from.errors %}
                                        <p class="help-block text-danger">{{ error }}</p>
                                    {% endfor %}
                                    {{ form.contact_from }}
                                </div>
                            </td>

                            <td class="align-middle">
                                {% for error in form.contact_content.errors %}
                                    <p class="help-block text-danger">{{ error }}</p>
                                {% endfor %}
                                {{ form.contact_content }}
                            </td>
                            <td class="align-middle">
                                {% for error in form.action_description.errors %}
                                    <p class="help-block text-danger">{{ error }}</p>
                                {% endfor %}
                                {{ form.action_description }}
                            </td>
                            <td class="align-middle">
                                {% for error in form.notes.errors %}
                                    <p class="help-block text-danger">{{ error }}</p>
                                {% endfor %}
                                {{ form.notes }}
                            </td>
                            <td class="align-middle">{{ form.DELETE }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ actions.management_form }}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header documents-add d-flex justify-content-between">
                <h3>{% translate "Documents" %}</h3>
            </div>
            <div class="card-body container-fluid">
                <div class="row">
                    {% for form in documents %}
                        {% if forloop.counter0|divisibleby:4 %}
                            <div class="w-100"></div>
                        {% endif %}
                        <div class="col-3 formset_row {{ documents.prefix }}">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ documents.management_form }}
        </div>
    </form>



    {% load static %}
    {% load compress %}
    {% compress css file %}
        {{ documents.media.css }}
        {{ isolations.media.css }}
        {{ actions.media.css }}
        {{ form.media.css }}
    {% endcompress %}
    {% compress js file %}
        {{ documents.media.js }}
        {{ isolations.media.js }}
        {{ actions.media.js }}
        {{ form.media.js }}
        <script nonce="{{ request.csp_nonce }}"
                src="{% static 'covid/js/jquery.bootstrap.modal.form.person.js' %}"></script>

        <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            $(function () {
                function addPersonModal() {
                    $("#newPersonButton").modalForm({
                        modalID: "#modal-person",
                        formURL: "{% url 'person_new_modal' %}",
                        asyncUpdate: true,
                        asyncSettings: {
                            closeOnSubmit: true,
                            addModalFormFunction: addPersonModal,
                            onSuccess: function (response) {
                                let option = new Option(response["name"], response["id"], true, true);
                                $('#id_people').append(option).trigger('change');
                            },
                        }
                    });
                }

                addPersonModal();
            });
        </script>
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/jquery.formset.js' %}"></script>
        <script nonce="{{ request.csp_nonce }}"
                src="{% static 'covid/js/select2.isolations.actions.to.involved.people.js' %}"></script>

        <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            $(function () {
                $("#saveButton").on('click', function (e) {
                    $(".add-row").click();
                });
                $(".formset_row.{{ isolations.prefix }}").formset({
                    formCssClass: 'isolations-formset',
                    addText: '{% translate 'Add isolation' %}',
                    addCssClass: 'add-row btn btn-primary col-xl-1 col-lg-2 col-3',
                    addContainerClass: 'isolations-add',
                    deleteText: '{% translate 'remove' %}',
                    deleteCssClass: 'delete-row',
                    prefix: "{{ isolations.prefix }}",
                    insert_first: true,
                    hideLastAddForm: true,
                });
                $(".formset_row.{{ actions.prefix }}").formset({
                    formCssClass: 'actions-formset',
                    addText: '{% translate 'Add action' %}',
                    addCssClass: 'add-row btn btn-primary col-xl-1 col-lg-2 col-3',
                    addContainerClass: 'actions-add',
                    deleteText: '{% translate 'remove' %}',
                    deleteCssClass: 'delete-row',
                    prefix: "{{ actions.prefix }}",
                    insert_first: true,
                    hideLastAddForm: true,
                });
                $(".formset_row.{{ documents.prefix }}").formset({
                    formCssClass: 'documents-formset',
                    addText: '{% translate "Add document" %}',
                    addCssClass: 'add-row btn btn-primary',
                    addContainerClass: 'documents-add',
                    deleteText: '{% translate 'remove' %}',
                    deleteCssClass: 'delete-row',
                    prefix: "{{ documents.prefix }}",
                    insert_first: false
                });
                $("#id_people").width('94%');
                $("#newPersonButton").width('4%');
            })
        </script>
        {{ form.media.js }}
    {% endcompress %}

    {% compress css file %}
        {{ form.media.css }}
    {% endcompress %}
{% endblock %}
