{% extends 'base.html' %}

{% block content %}
    <h2>Cases</h2>
    <div class="d-flex justify-content-between">
        <form method="get" class="flex-fill">
            <div class="form-group">
                <label class="col-sm-2 col-form-label">
                    Search:
                    <input type="text" name="search" class="col-sm-10" value="{{ search }}"/>
                </label>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <div class="align-self-center btn-group col-sm-2">
            <a class="col-sm-5 btn {% if open == None %}btn-success disabled{% else %}btn-primary{% endif %}" href="{{ request.path }}?open=None&search={{ search }}">All</a>
            <a class="col-sm-5 btn {% if open == True %}btn-success disabled{% else %}btn-primary{% endif %}" href="{{ request.path }}?open=true&search={{ search }}">Open</a>
            <a class="col-sm-5 btn {% if open == False %}btn-success disabled{% else %}btn-primary{% endif %}" href="{{ request.path }}?open=false&search={{ search }}">Closed</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">People involved</th>
            <th scope="col">Date open</th>
            <th scope="col">Date closed</th>
        </tr>
        </thead>
        {% for case in page_obj %}
            <tr>
                {#                <td><a href={% url 'case_details' case.id %}>{{ case }}</a></td>#}
                <td><a href={% url "home" %}>{{ case }}</a></td>
                <td>{% for person in case.people.all %}
                    {{ person }}<br> {# TODO: add link to person detail view #}
                {% endfor %}</td>
                <td>{{ case.date_open }}</td>
                <td>{{ case.date_close }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?search={{ search }}&page=1">&laquo; first</a>
            <a href="?search={{ search }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?search={{ search }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?search={{ search }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    {#    <a href="{% url "case_new" %}" class="btn btn-primary float-right">Create new</a>#}
{% endblock %}