{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <a href="{% url 'cases' %}"><- {% translate "cases" %}</a>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>{{ case.title }}</h2>
            {% if request.user.write_access %}
                <div class="btn-group align-self-center col-sm-1">
                    <a class="btn btn-primary" href="{% url 'case_update' case.id %}">{% translate "Edit" %}</a>
                </div>
            {% endif %}
        </div>
        <br>
        <div style="padding-left: 5em">{% translate "Status" %}: <b>{% if closed %}{% translate "Closed" %}{% else %}
            {% translate "Open" %}{% endif %}</b></div>
        <div style="padding-left: 5em">{% translate "Opened" %}: {{ case.date_open }}</div>
        {% if closed %}
            <div style="padding-left: 5em">{% translate "Closed" %}: {{ case.date_closed }}</div>{% endif %}
        <br>
    </div>
    <br>
    <div class="card">
        <div class="card-header"><h3>{% translate "People involved" %}</h3></div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{% translate "Name" %}</th>
                    <th scope="col">{% translate "Role" %}</th>
                    <th scope="col">{% translate "Unit" %}</th>
                    <th scope="col">{% translate "Email" %}</th>
                    <th scope="col">{% translate "Phone number" %}</th>
                    <th scope="col">{% translate "Health state" %}</th>
                </tr>
                </thead>
                {% for person in case.people.all %}
                    <tr>
                        <td>
                            <a href={% url "person_details" person.id %}>
                                {{ person }}
                            </a>
                        </td>
                        <td>{{ person.get_role_display }}</td>
                        <td>{% if person.unit %}{{ person.unit }}{% endif %}</td>
                        <td>
                            {% if person.email %}
                                <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if person.phone_number %}
                                {{ person.phone_number }}
                            {% endif %}
                        </td>
                        <td>{{ person.health_state }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header"><h3>{% translate "Isolations in case" %}</h3></div>
        <div class="card-body">
            {% if isolations %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{% translate "Name" %}</th>
                        <th scope="col">{% translate "Ordered by" %}</th>
                        <th scope="col">{% translate "Order date" %}</th>
                        <th scope="col">{% translate "Start date" %}</th>
                        <th scope="col">{% translate "End date" %}</th>
                        <th scope="col">{% translate "Whereabouts" %}</th>
                        <th scope="col">{% translate "Cause" %}</th>
                        <th scope="col">{% translate "Health state" %}</th>
                    </tr>
                    </thead>
                    {% for isolation in isolations %}
                        <tr class="
                                {% if isolation.active %}
                                    {% if isolation.person.health_state.considered_sick %}
                                        table-danger
                                    {% elif isolation.person.health_state.considered_suspect %}
                                        table-warning
                                    {% endif %}
                                {% else %}
                                    table-active
                                {% endif %}">
                            <td>
                                <a href={% url "person_details" isolation.person_id %}>
                                    {{ isolation.person }}
                                </a>
                            </td>
                            <td>{{ isolation.ordered_by }}</td>
                            <td>{{ isolation.ordered_on }}</td>
                            <td>{{ isolation.start_date }}</td>
                            <td>{{ isolation.end_date }}</td>
                            <td>
                                {{ isolation.get_whereabouts_display }}
                                {% if isolation.whereabouts == 'D' and isolation.person.isolationroom %}
                                    {{ isolation.person.isolationroom }}
                                {% endif %}
                            </td>
                            <td>{{ isolation.cause }}</td>
                            <td>{{ isolation.person.health_state }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% translate "No isolations in the case." %}
            {% endif %}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header"><h3>{% translate "Actions history" %}</h3></div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>{% translate "Datetime" %}</th>
                    <th>{% translate "Made by" %}</th>
                    <th>{% translate "Based on" %}</th>
                    <th>{% translate "Contact from" %}</th>
                    <th>{% translate "Incoming contact content" %}</th>
                    <th>{% translate "Description" %}</th>
                    <th>{% translate "Notes" %}</th>
                    <th>{% translate "Case" %}</th>
                </tr>
                </thead>

                {% for action in actions %}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-link action-detail"
                                    ano="{{ action.id }}">{{ action.datetime }}</button>
                        </td>
                        <td>
                            <a href={% url "worker_details" action.made_by_id %}>
                                {{ action.made_by }}
                            </a>
                        </td>
                        <td>{{ action.get_based_on_display }}</td>
                        <td>{% if action.contact_from %}
                            <a href="{% url 'person_details' action.contact_from_id %}">{{ action.contact_from }}</a>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>{% if action.contact_content %}
                            <button type="button" class="action-contact_content btn btn-link" ano="{{ action.id }}">
                                {% translate "open" %}
                            </button>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>{{ action.action_description }}</td>
                        <td>{% if action.notes %}
                            <button type="button" class="action-notes btn btn-link"
                                    ano="{{ action.id }}">{% translate "open" %}</button>
                        {% else %}
                            —
                        {% endif %}</td>
                        <td>
                            {% if action.case %}
                                <a href="{% url 'case_details' action.case.id %}">{{ action.case.title }}</a>
                            {% else %}
                                —
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% if case.documents.exists %}
        <div class="card">
            <div class="card-header"><h3>{% translate "Documents" %}</h3></div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{% translate "Name" context "document" %}</th>
                        <th scope="col">{% translate "Upload date" %}</th>
                        <th scope="col">{% translate "Uploaded by" %}</th>
                    </tr>
                    </thead>
                    {% for doc in case.documents.order_by %}
                        <tr>
                            <td>
                                <a href={% url 'docs' doc.id %}>{{ doc.name }}</a>
                            </td>
                            <td>{{ doc.upload_date }}</td>

                            <td>
                                {% if doc.uploaded_by %}
                                    <a href="{% url 'worker_details' doc.uploaded_by_id %}">
                                        {{ doc.uploaded_by }}
                                    </a>
                                {% else %}—{% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {% load static %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>


    <script type="text/javascript">
        $(function () {
            function addActionModal() {
                $(".action-detail").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_details' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
                $(".action-contact_content").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_contact_content' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
                $(".action-notes").each(function () {
                    $(this).modalForm({
                        formURL: "{% url 'action_notes' 101010 %}".replace("101010", $(this).attr("ano")),
                    });
                });
            }

            addActionModal();
        });
    </script>

{% endblock %}