{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-header actions-add d-flex justify-content-between align-items-center">
            <h2>{% translate "Isolation rooms" %}</h2>
            {% if request.user.write_access %}
                <a href="{% url 'isolation_rooms_update' %}" class="btn btn-primary col-1">{% translate "Edit" %}</a>
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>{% translate "Number" %}</th>
                    <th>{% translate "Resident" %}</th>
                    <th>{% translate "Is cleaned" %}</th>
                </tr>
                </thead>

                {% for isolation_room in isolationroom_list %}
                    <tr class="{% if isolation_room.resident %}table-danger{% elif not isolation_room.is_cleaned %}table-warning{% else %}table-success{% endif %}">
                        <td class="align-middle">{{ isolation_room.number }}</td>
                        <td class="align-middle">{% if isolation_room.resident %}
                            <a href={% url "person_details" isolation_room.resident_id %}>
                            {{ isolation_room.resident }}{% else %}—{% endif %}
                            </a></td>
                        <td class="align-middle">
                            {% if not isolation_room.resident %}
                                {% if isolation_room.is_cleaned %}
                                    {% translate 'Yes' %}
                                {% else %}
                                    {% translate 'No' %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}