{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header actions-add d-flex justify-content-between align-items-center">
                <h2>{% translate "Isolation rooms" %}</h2>
                <div class="btn-group align-self-center col-6 col-sm-5 col-lg-3 col-xl-2">
                    <a type="submit" class="btn btn-danger"
                       href="{% url 'isolation_rooms' %}">{% translate "Cancel" %}</a>
                    <button type="submit" class="btn btn-success">{% translate "Save" %}</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    {{ formset.management_form }}

                    {% for form in formset %}
                        {% if forloop.first %}
                            <thead class="thead-dark">
                            <tr>
                                <th>{{ form.number.label }}</th>
                                <th>{{ form.resident.label }}</th>
                                <th>{{ form.is_cleaned.label }}</th>
                            </tr>

                            </thead>

                        {% endif %}

                        <tr class="formset_row">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <td>
                                <input type="hidden">{{ form.number }}</input>
                                {% for error in form.number.errors %}
                                    <p class="help-block text-danger">{{ error }}</p>
                                {% endfor %}
                                {{ form.instance.number }}
                            </td>

                            <td>
                                {% for error in form.resident.errors %}
                                    <p class="help-block text-danger">{{ error }}</p>
                                {% endfor %}
                                {{ form.resident }}
                            </td>
                            <td>
                                {% for error in form.is_cleaned.errors %}
                                    <p class="help-block text-danger">{{ error }}</p>
                                {% endfor %}
                                {{ form.is_cleaned }}
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
        {% load compress %}
        {% compress js file %}
            {{ formset.media.js }}
        {% endcompress %}
        {% compress css file %}
            {{ formset.media.css }}
        {% endcompress %}
    </form>
{% endblock %}