{% load i18n %}
<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">{% translate "Add new person" %}</h5>
        <button type="button" class="close closeModalButton" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        {% for field in form %}
            <div class="form-group{% if field.errors %} invalid{% endif %}">
                <div class="d-flex justify-content-between align-items-center fieldWrapper">
                    <div class="col-4">{{ field.label_tag }}</div>
                    <div class="col-5">{{ field }}</div>
                    <div class="col-2">
                        {% if forloop.counter == 9 %}
                            <button type="button" class="btn btn-primary"
                                    id="newUnitButton">{% translate "New" %}</button>
                        {% endif %}
                    </div>
                </div>
                {% for error in field.errors %}
                    <p class="help-block text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default closeModalButton">{% translate "Close" %}</button>
        <button type="button" id="addPersonSubmitButton"
                class="submit-btn btn btn-primary">{% translate "Add" %}</button>
    </div>

    {% load compress %}
    {% compress css file %}
        {{ from.media.css }}
    {% endcompress %}
    {% compress js file %}
        {{ form.media.js }}
        <script nonce="{{request.csp_nonce}}" type="text/javascript">
            $(function () {
                function addUnitModal() {
                    $("#newUnitButton").modalForm({
                        modalID: "#modal-unit",
                        modalContent: "#modal-unit-content",
                        modalForm: "#modal-unit-content form",
                        submitBtn: "#addUnitSubmitButton",
                        formURL: "{% url 'unit_new_modal' %}",
                        asyncUpdate: true,
                        asyncSettings: {
                            closeOnSubmit: true,
                            addModalFormFunction: addUnitModal
                        }
                    });
                }

                addUnitModal();
            });
            $('#id_unit').select2({
                dropdownParent: $('.modal-body'),
                allowClear: true,
                ajax: {
                    url: '{% url 'unit-autocomplete' %}',
                    dataType: 'json'
                }
            });
            $(function () {
                $("button.closeModalButton").on('click', function () {
                    $('#modal-person').modal('hide');
                });
            })
        </script>
    {% endcompress %}

</form>