{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="modal fade" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center justify-content-left col-11">
                <h2>{{ person }}</h2>
                <div class="col-1"></div>
                {% if person.role != 'N' %}
                    <h5 class="text-muted">({{ person.get_role_display }})</h5>
                {% endif %}
            </div>
            {% if request.user.write_access %}
                <div class="btn-group align-self-center col-1">
                    <button type="button" id="editPersonButton" class="btn btn-primary">{% translate "Edit" %}</button>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            {% if person.unit %}<p class="text-muted">{{ person.unit }}</p>{% endif %}
            <p>{% translate "Phone number" %}: {% if person.phone_number %}{{ person.phone_number }}{% endif %}</p>
            <p>{% translate "Email" %}: {% if person.email %}
                <a href="mailto:{{ person.email }}">{{ person.email }}</a>{% endif %}</p>
            {% if person.dorm %}<p>{% translate "Dorm" %}: {{ person.get_dorm_display }}</p>{% endif %}
            {% translate "Health state" %}: {{ person.health_state }}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header"><h3>{% translate "Involved in cases" %}</h3></div>
        <div class="card-body">
            {% if cases %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{% translate "Title" %}</th>
                        <th scope="col">{% translate "People involved" %}</th>
                        <th scope="col">{% translate "Date open" %}</th>
                        <th scope="col">{% translate "Date closed" %}</th>
                    </tr>
                    </thead>
                    {% for case in cases %}
                        <tr>
                            <td class="align-middle"><a href={% url "case_details" case.id %}>{{ case }}</a></td>
                            <td class="align-middle">{% for person in case.people.all %}
                                <a href="{% url 'person_details' person.id %}">{{ person }}</a><br>
                            {% endfor %}</td>
                            <td class="align-middle">{{ case.date_open }}</td>
                            <td class="align-middle">{% if case.date_closed %}{{ case.date_closed }}{% else %}—{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% translate "No cases involving this person found." %}
            {% endif %}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header"><h3>{% translate "Isolations" %}</h3></div>
        <div class="card-body">
            {% if person.isolationroom %}
                <p class="text-danger text-center h3">{% translate "Currently in DS4 room" %} {{ person.isolationroom.number }}.</p>
                <br>
            {% endif %}
            {% if isolations %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{% translate "Ordered by" %}</th>
                        <th scope="col">{% translate "Order date" %}</th>
                        <th scope="col">{% translate "Start date" %}</th>
                        <th scope="col">{% translate "End date" %}</th>
                        <th scope="col">{% translate "Whereabouts" %}</th>
                        <th scope="col">{% translate "Cause" %}</th>
                        <th scope="col">{% translate "Health state" %}</th>
                    </tr>
                    </thead>
                    {% for isolation in isolations %}
                        <tr class="background:
                                {% if isolation.active %}
                                    {% if isolation.person.health_state.considered_sick %}
                                        table-danger
                                    {% elif isolation.person.health_state.considered_suspect %}
                                        table-warning
                                    {% endif %}
                                {% else %}
                                    table-active
                                {% endif %}">
                            <td class="align-middle">{{ isolation.ordered_by }}</td>
                            <td class="align-middle">{{ isolation.ordered_on }}</td>
                            <td class="align-middle">{{ isolation.start_date }}</td>
                            <td class="align-middle">{{ isolation.end_date }}</td>
                            <td class="align-middle">
                                {{ isolation.get_whereabouts_display }}
                                {% if isolation.whereabouts == 'D' and isolation.person.isolationroom %}
                                    {{ isolation.person.isolationroom }}
                                {% endif %}
                            </td>
                            <td class="align-middle">{{ isolation.cause }}</td>
                            <td class="align-middle">{{ isolation.person.health_state }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% translate "No isolations underwent." %}
            {% endif %}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header actions-add d-flex justify-content-between align-items-center">
            <h3>{% translate "Incoming contacts" %}</h3>
        </div>
        <div class="card-body">
            {% if actions %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{% translate "Datetime" %}</th>
                        <th>{% translate "Made by" %}</th>
                        <th>{% translate "Based on" %}</th>
                        <th>{% translate "Incoming contact content" %}</th>
                        <th>{% translate "Description" %}</th>
                        <th>{% translate "Notes" %}</th>
                        <th>{% translate "Case" %}</th>
                    </tr>
                    </thead>

                    {% for action in actions %}
                        <tr>
                            <td class="align-middle">
                                <button type="button" class="btn btn-link action-detail"
                                        ano="{{ action.id }}">{{ action.datetime }}</button>
                            </td>
                            <td class="align-middle">
                                <a href={% url "worker_details" action.made_by_id %}>
                                    {{ action.made_by }}
                                </a>
                            </td>
                            <td class="align-middle">{{ action.get_based_on_display }}</td>
                            <td class="align-middle">{% if action.contact_content %}
                                <button type="button" class="action-contact_content btn btn-link" ano="{{ action.id }}">
                                    {% translate "open" %}
                                </button>
                            {% else %}
                                —
                            {% endif %}</td>
                            <td class="align-middle">{{ action.action_description|linebreaks }}</td>
                            <td class="align-middle">{% if action.notes %}
                                <button type="button" class="action-notes btn btn-link"
                                        ano="{{ action.id }}">{% translate "open" %}</button>
                            {% else %}
                                —
                            {% endif %}</td>
                            <td class="align-middle">
                                {% if action.case %}
                                    <a href="{% url 'case_details' action.case.id %}">{{ action.case.title }}</a>
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% translate "No incoming contacts from this person registered." %}
            {% endif %}
        </div>
    </div>

    {% load static %}
    {% load compress %}
    {% compress js file %}
        <script nonce="{{ request.csp_nonce }}" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

        <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            $(function () {
                function personEditModal() {
                    $("#editPersonButton").modalForm({
                        formURL: "{% url 'person_update_modal' person.id %}",
                    });
                    $(".action-detail").each(function () {
                        $(this).modalForm({
                            formURL: "{% url 'action_details' 101010 %}".replace("101010", $(this).attr("ano")),
                        });
                    });
                }

                personEditModal();
            });
        </script>
    {% endcompress %}
{% endblock %}