{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if show_form %}
        <div class="card col-xl-2 mx-auto">
            <div class="card-body">
                <h4 class="card-title">{% translate "Report period" %}</h4>
                <p></p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p></p>
                    <button type="submit" class="btn btn-primary float-right">Generate</button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            flatpickr("#id_start_date", {
                enableTime: false,
                enableSeconds: false,
                dateFormat: "d.m.Y",
                time_24hr: true,
                defaultDate: new Date(Date.now() - 6 * 24 * 60 * 60 * 1000),
            });
            flatpickr("#id_end_date", {
                enableTime: false,
                enableSeconds: false,
                dateFormat: "d.m.Y",
                time_24hr: true,
                defaultDate: new Date(),
            });
        </script>
    {% else %}

    {% endif %}
{% endblock %}