{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if show_form %}
        <div class="card col-xl-3 col-md-6 col-sm-10 mx-auto">
            <div class="card-body">
                <h4 class="card-title">{% translate "Report period" %}</h4>
                <p></p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p></p>
                    <button type="submit" class="btn btn-primary float-right">{% translate "Generate" %}</button>
                </form>
            </div>
        </div>
        {% load compress %}
        {% compress css file %}
        {{ form.media.css }}
        {% endcompress %}
        {% compress js file %}
            {{ form.media.js }}
            <script nonce="{{request.csp_nonce}}" type="text/javascript">
                flatpickr("#id_start_date", {
                    enableTime: false,
                    enableSeconds: false,
                    dateFormat: "d.m.Y",
                    time_24hr: true,
                    defaultDate: new Date(Date.now() - 6 * 24 * 60 * 60 * 1000),
                });
                flatpickr("#id_end_date", {
                    enableTime: false,
                    enableSeconds: false,
                    dateFormat: "d.m.Y",
                    time_24hr: true,
                    defaultDate: new Date(),
                });
            </script>
        {% endcompress %}
    {% else %}
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ request.get_full_path }}">{% translate "back" %}</a>
            <a href="{% url 'reports_dl' start_date end_date %}">{% translate "download as xlsx" %}</a>
        </div>
        <div class="card">
            <div class="card-header"><h2>{% translate "Report" %}</h2></div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead thead-dark">
                    <tr>
                        <th class="text-center" scope="col">{% translate "New students' infections" %}</th>
                        <th class="text-center" scope="col">{% translate "New students' infections at the dorms" %}</th>
                        <th class="text-center" scope="col">{% translate "New students' quarantines" %}</th>
                        <th class="text-center" scope="col">{% translate "New students' quarantines at the dorms" %}</th>
                        <th class="text-center" scope="col">{% translate "New employees' infections" %}</th>
                        <th class="text-center" scope="col">{% translate "New employees' quarantines" %}</th>
                    </tr>
                    </thead>
                    <tr>
                        <td class="align-middle"><p class="text-center">{{ students_sick_new }}</p></td>
                        <td class="align-middle"><p class="text-center">{{ students_sick_dorms_new }}</p></td>
                        <td class="align-middle"><p class="text-center">{{ students_quarantined_new }}</p></td>
                        <td class="align-middle"><p class="text-center">{{ students_quarantined_dorms_new }}</p></td>
                        <td class="align-middle"><p class="text-center">{{ employees_sick_new }}</p></td>
                        <td class="align-middle"><p class="text-center">{{ employees_quarantined_new }}</p></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header"><h3>{% translate "Isolations ordered" %}</h3></div>
            <div class="card-body">
                {% if isolations %}
                    <table class="table table-bordered">
                        <thead class="thead thead-dark">
                        <tr>
                            <th class="text-center" scope="col">{% translate "Name" %}</th>
                            <th class="text-center" scope="col">{% translate "Ordered by" %}</th>
                            <th class="text-center" scope="col">{% translate "Order date" %}</th>
                            <th class="text-center" scope="col">{% translate "Office informed" %}</th>
                            <th class="text-center" scope="col">{% translate "Start date" %}</th>
                            <th class="text-center" scope="col">{% translate "End date" %}</th>
                            <th class="text-center" scope="col">{% translate "Whereabouts" %}</th>
                            <th class="text-center" scope="col">{% translate "Cause" %}</th>
                            <th class="text-center" scope="col">{% translate "Health state" %}</th>
                        </tr>
                        </thead>
                        {% for isolation in isolations %}
                            <tr>
                                <td class="align-middle"><p class="text-center">
                                    <a href={% url "person_details" isolation.person_id %}>
                                        {{ isolation.person }}
                                    </a>
                                </p></td>
                                <td class="align-middle"><p class="text-center">{{ isolation.ordered_by }}</p></td>
                                <td class="align-middle"><p class="text-center"><b>{{ isolation.ordered_on }}</b></p></td>
                                <td class="align-middle"><p class="text-center">{{ isolation.added }}</p></td>
                                <td class="align-middle"><p class="text-center">{{ isolation.start_date }}</p></td>
                                <td class="align-middle"><p class="text-center">{{ isolation.end_date }}</p></td>
                                <td class="align-middle"><p class="text-center">
                                    {{ isolation.get_whereabouts_display }}
                                    {% if isolation.whereabouts == 'D' and isolation.person.isolationroom %}
                                        {{ isolation.person.isolationroom }}
                                    {% endif %}</p>
                                </td>
                                <td class="align-middle"><p class="text-center">{{ isolation.cause }}</p></td>
                                <td class="align-middle"><p class="text-center">{{ isolation.person.health_state }}</p></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    {% translate "No isolations ordered during this period." %}
                {% endif %}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header"><h3>{% translate "New cases opened" %}</h3></div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead thead-dark">
                    <tr>
                        <th class="text-center" scope="col">{% translate "Title" %}</th>
                        <th class="text-center" scope="col">{% translate "People involved" %}</th>
                        <th class="text-center" scope="col">{% translate "Date open" %}</th>
                        <th class="text-center" scope="col">{% translate "Date closed" %}</th>
                    </tr>
                    </thead>
                    {% for case in cases_opened %}
                        <tr>
                            <td class="align-middle"><p class="text-center"><a href={% url "case_details" case.id %}>{{ case }}</a></p></td>
                            <td class="align-middle"><p class="text-center">{% for person in case.people.all %}
                                <a href={% url "person_details" person.id %}>
                                    {{ person }}
                                </a><br>
                            {% endfor %}</p></td>
                            <td class="align-middle"><p class="text-center"><b>{{ case.date_open }}</b></p></td>
                            <td class="align-middle"><p class="text-center">
                                {% if case.date_closed %}
                                    {{ case.date_closed }}
                                {% else %}
                                    —
                                {% endif %}
                            </p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header"><h3>{% translate "Cases closed" %}</h3></div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead thead-dark">
                    <tr>
                        <th class="text-center" scope="col">{% translate "Title" %}</th>
                        <th class="text-center" scope="col">{% translate "People involved" %}</th>
                        <th class="text-center" scope="col">{% translate "Date open" %}</th>
                        <th class="text-center" scope="col">{% translate "Date closed" %}</th>
                    </tr>
                    </thead>
                    {% for case in cases_closed %}
                        <tr>
                            <td class="align-middle"><p class="text-center"><a href={% url "case_details" case.id %}>{{ case }}</a></p></td>
                            <td class="align-middle"><p class="text-center">{% for person in case.people.all %}
                                <a href={% url "person_details" person.id %}>
                                    {{ person }}
                                </a><br>
                            {% endfor %}</p></td>
                            <td class="align-middle"><p class="text-center">{{ case.date_open }}</p></td>
                            <td class="align-middle"><p class="text-center">
                                <b>{{ case.date_closed }}</b>
                            </p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header"><h3>{% translate "Office actions during selected time" %}</h3></div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead thead-dark">
                    <tr>
                        <th class="text-center">{% translate "Datetime" %}</th>
                        <th class="text-center">{% translate "Made by" %}</th>
                        <th class="text-center">{% translate "Based on" %}</th>
                        <th class="text-center">{% translate "Contact from" %}</th>
                        <th class="text-center">{% translate "Incoming contact content" %}</th>
                        <th class="text-center">{% translate "Description" %}</th>
                        <th class="text-center">{% translate "Notes" %}</th>
                        <th class="text-center">{% translate "Case" %}</th>
                    </tr>
                    </thead>

                    {% for action in actions %}
                        <tr>
                            <td class="align-middle"><p class="text-center">
                                {{ action.datetime }}
                            </p></td>
                            <td class="align-middle"><p class="text-center">
                                <a href={% url "worker_details" action.made_by_id %}>
                                    {{ action.made_by }}
                                </a>
                            </p></td>
                            <td class="align-middle">{{ action.get_based_on_display }}</td>
                            <td class="align-middle"><p class="text-center">
                                {% if action.contact_from %}
                                    <a href="{% url 'person_details' action.contact_from_id %}">{{ action.contact_from }}</a>
                                {% else %}
                                    —
                                {% endif %}
                            </p></td>
                            <td class="align-middle"><p class="text-justify">
                                {% if action.contact_content %}
                                    {{ action.contact_content|linebreaks }}
                                {% else %}
                                    —
                                {% endif %}
                            </p></td>
                            <td class="align-middle"><p class="text-justify">{{ action.action_description|linebreaks }}</p></td>
                            <td class="align-middle"><p class="text-justify">
                                {% if action.notes %}
                                    {{ action.notes|linebreaks }}
                                {% else %}
                                    —
                                {% endif %}
                            </p></td>
                            <td class="align-middle"><p class="text-center">
                                {% if action.case %}
                                    <a href="{% url 'case_details' action.case.id %}">{{ action.case.title }}</a>
                                {% else %}
                                    —
                                {% endif %}
                            </p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}